html,
body {
  background: #000 url(../img/starry_sky_bg.jpg) no-repeat center center !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main {
  position: relative;
  /* makes this the origin of its children */
  width: 100%;
  height: 100%;
  overflow: hidden;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}