.ziti1{
    text-align: center;
    font-size: 50px;
    color: #19a8f4;
}
.biaoti{
    background: linear-gradient(#0da361,white);
    height: 150px;
    text-align: center;
    font-size: 30px;
    color: white;
}